<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
	  
    <add key="clave" value="2"/>
    <add key="conexion" value="odbc"/>
    <add key="minDias" value="20"/>
    <add key="rutaDescarga" value="http://tickets.cinetweb.com.ar:84"/>
  </appSettings>
</configuration>
